.idea
.DS_Store
CMakeLists.txt
cmake-build-debug
histogram/*
!histogram/*.c
!histogram/*.test
kmeans/*
!kmeans/*.c
!kmeans/*.test
linear_regression/*
!linear_regression/*.c
!linear_regression/*.test
matrix_multiply/*
!matrix_multiply/*.c
!matrix_multiply/*.test
pca/*
!pca/*.c
!pca/*.test
string_match/*
!string_match/*.c
!string_match/*.test
