benchmarks/word_count/inputs/word_100MB.txt filter=lfs diff=lfs merge=lfs -text
benchmarks/matrix_multiply/inputs/matrix_b filter=lfs diff=lfs merge=lfs -text
benchmarks/word_count/inputs/word_10MB.txt filter=lfs diff=lfs merge=lfs -text
benchmarks/linear_regression/inputs/key_file_50MB.txt filter=lfs diff=lfs merge=lfs -text
benchmarks/word_count/inputs/word_50MB.txt filter=lfs diff=lfs merge=lfs -text
benchmarks/string_match/inputs/key_file_50MB.txt filter=lfs diff=lfs merge=lfs -text
benchmarks/matrix_multiply/inputs/matrix_a filter=lfs diff=lfs merge=lfs -text
benchmarks/histogram/inputs/small.bmp filter=lfs diff=lfs merge=lfs -text
